.box{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 32px 0;
}
.hd{
    display: flex;
    width: 100%;
    font-size: 18px;
    height: 30px;
    align-items: center;
    gap: 8px;
    border-bottom: #4d4f4f 1px solid;
}
.point{
    height: 42px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #4d4f4f 1px solid;
    font-weight: 600;
    color: #c6c4c4;
}
.point span{
    color: #1dbbc7;
}
.point:hover{
    color: #1dbbc7;
}